<div class="nav-layout">
  <div [ngClass]="heightlight == 'home' ? 'selected-item' : 'items'" [routerLink]="['/home']">
    <i class="fa-solid fa-house"></i>
  </div>
  <div [ngClass]="heightlight == 'orders' ? 'selected-item' : 'items'" [routerLink]="['/orders']"><i class="fa-solid fa-bag-shopping"></i></div>
  <div [ngClass]="heightlight == 'offers' ? 'selected-item' : 'items'" [routerLink]="['/offers']"><i class="fa-solid fa-gift"></i></div>
  <div [ngClass]="heightlight == 'bill' ? 'selected-item' : 'items'" [routerLink]="['/bill']"><i class="fa-solid fa-print"></i></div>
  <div [ngClass]="heightlight == 'qr' ? 'selected-item' : 'items'" [routerLink]="['/qr']"><i class="fa-solid fa-qrcode"></i></div>
  <div [ngClass]="heightlight == 'menu' ? 'selected-item' : 'items'" [routerLink]="['/menu']"><i class="fa-solid fa-plus"></i></div>
  <div class="items"><i class="fa-solid fa-right-from-bracket"></i></div>
</div>
