.menu-layout {
  padding: 30px;
  height: 100%;
  display: flex;

  .menu-container {
    padding: 60px;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 0px;

    label {
      align-self: flex-start;
    }

    input[type="textarea"] {
      height: 60px;
      width: 100%;
      border-radius: 10px;
      border: none;
      border: 3px solid #555;
      transition: 0.5s;
      margin: 10px;
      text-align: start;
    }

    input[type="textarea"]:focus {
      border: 2px solid #4cc417;
      outline: none;
    }

    input[type="file"] {
      height: 30px;
      width: 100%;
      border-radius: 10px;
      border: none;
      border: 3px solid #555;
      transition: 0.5s;
      margin: 10px;
    }

    input[type="file"]:focus {
      border: 2px solid #4cc417;
      outline: none;
    }

    select {
      height: 40px;
      width: 100%;
      border-radius: 10px;
      border: none;
      border: 3px solid #555;
      transition: 0.5s;
      margin: 10px;
    }

    select:focus {
      border: 2px solid #4cc417;
      outline: none;
    }

    .radio {
      display: flex;
      align-self: flex-start;
      margin: 10px;
      margin-bottom: 20px;
    }
  }

  .menu-container-list {
    padding: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 0px;
    .list {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      gap:10px;

      .item {
        width: 200px;
        height: 200px;
        border-radius: 10px;
        background-color: #ffffff;
        border: 2px solid rgb(223, 223, 223);
        transition: 0.5s;
      }

      .item:hover {
        border: 2px solid #4cc417;
        outline: none;
      }
    }
  }
}
