<div class="menu-layout">
  <app-navbar [heightlight]="'menu'"> </app-navbar>

  <input class="add-button" type="button" [value]="!addNew ? 'Add New Dish' : 'Back'" (click)="addNew = !addNew"/>

  <div class="menu-container" *ngIf="addNew">
    <label>Dish name</label>
    <input type="text" />

    <label>Ingredients</label>
    <input type="textarea" />

    <label>Dish Type</label>
    <select>
      <option>Veg</option>
      <option>Non Veg</option>
      <option>Vegan</option>
    </select>

    <label for=""> Dish Image</label>
    <input type="file" />

    <label>Price</label>
    <input type="text" />

    <label>Rating</label>
    <input type="text" />

    <label>What Special</label>
    <select>
      <option>Healthy</option>
      <option>Non Veg</option>
      <option>Vegan</option>
    </select>

    <label>Is Custamizable</label>
    <div class="radio">
      <input type="radio" id="custamizable" />Yes
      <input type="radio" id="custamizable" />No
    </div>

    <input type="button" value="Add" />
  </div>

  <div class="menu-container-list" *ngIf="!addNew">
    <div class="list">
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
    </div>
  </div>
</div>
